<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reported Channel</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/signInPage.css" />
    <script
      src="https://kit.fontawesome.com/33891a6c3e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="navbarNew">
      <a href="/AdminPage" style="text-decoration: none; color: antiquewhite">
        <div style="display: flex">
          <img src="/img/logo.png" alt="" class="logo" />
          <h2 style="font-size: 2rem; margin: auto">StudentSphere - Admin</h2>
        </div>
      </a>
      <nav>
        <div style="display: flex; align-items: center">
          <div class="createBtn" id="createBtn" style="cursor: pointer">
            <div
              style="
                background-color: red;
                border-radius: 50%;
                height: 20px;
                width: 20px;
                position: absolute;
                top: 3px;
                right: 59px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                font-weight: 600;
                color: antiquewhite;
              "
            >
              <%= count%>
            </div>
            <a
              href="/reportedChannelPage"
              style="text-decoration: none; color: antiquewhite"
              >Reported Channel</a
            >
          </div>
          <div class="dp" style="background-color: #000000">
            <img
              src="/img/google.png"
              alt=""
              class="profilePic"
              id="dpImage"
              onclick="toggleDropdown()"
            />
            <div class="dropdown" id="dpDropdown">
              <ul>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <div
      class="container-fluid"
      style="display: flex; justify-content: center; align-items: center"
    >
      <div class="channel">
        <div class="dpAndName">
          <div class="image">
            <img class="channleDp" src="/img/google.png" alt="" />
          </div>
          <h1
            class="channelName"
            style="
              font-family: 'Raleway';
              font-size: 50px;
              font-weight: 700;
              color: antiquewhite;
              margin-left: 50px;
              margin-top: 7px;
            "
          >
            <%= row[0]['title'] %>
          </h1>
        </div>
        <div class="description">
          <p><%= row[0]['description'] %></p>
          <p>Channel Admin No. : <%= row[0]['phone'] %></p>
        </div>
        <div
          class="btngrp"
          style="display: flex; flex-direction: row; justify-content: right"
        >
          <a
            href="/deleteChannel/<%= row[0]['id']%>"
            style="text-decoration: none"
          >
            <button class="deleteBtn" id="deleteBtn">
              <i class="fa-solid fa-trash fa-l" style="color: #000000"></i>
              Delete
            </button>
          </a>
          <a
            href="/aprroveChannel/<%= row[0]['id']%>"
            style="text-decoration: none"
          >
            <button onclick="" class="approveBtn">
              <i class="fa-regular fa-circle-check" style="color: #000000"></i
              >Approve
            </button>
          </a>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
      const deleteButton = document.getElementById("deleteBtn");

      deleteButton.addEventListener("click", function () {
        const result = window.confirm("Are you sure you want to delete?");
        if (result) {
          //SQL Query to delete this channel from the database
        }
      });
    </script>
    <script>
      function toggleDropdown() {
        const dpDropdown = document.getElementById("dpDropdown");
        dpDropdown.parentElement.classList.toggle("active");
      }

      // Close the dropdown if user clicks outside of it
      document.addEventListener("click", function (event) {
        const dpImage = document.getElementById("dpImage");
        const dpDropdown = document.getElementById("dpDropdown");
        if (
          !dpImage.contains(event.target) &&
          !dpDropdown.contains(event.target)
        ) {
          dpDropdown.parentElement.classList.remove("active");
        }
      });
    </script>
  </body>
</html>
